<div class="container container-margin">
	<div class="row">
		<div class="col-md-6">

			<h2>YOU CAN BUY EVERYTHINGS OUR BOOKSTORE</h2>
			<h3>BUY BEST BOOK FROM STORE</h3>
			<p style="color:brown;">The More that you read, the more things you will know. The more that you learn, the more places you'll go.</p><br>
			<%= link_to 'Author Info', authors_path, class: "btn btn-outline-success" %>
			<%= link_to 'Book Info', books_path, class: "btn btn-outline-danger" %>
		</div>
		<div class="col-md-5">
			<div id="home_page_image"></div>
		</div>
		<div class="col-md-1">
	</div>
	
</div>


	