<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <i class="fa-solid fa-book-open-reader fa-lg fa-spin"></i>
<%= link_to 'BOOKSTORE', root_path,class:"nav-link navbar-brand active" , style: " color:black; font-weight:bold " %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    
  </div>
 </div>
</nav>